<h1><%= @team.name %></h1>

<h2>Team Motto:<%= @team.motto %></h2><br>
<h2>Hero Name:<%= @hero.name %></h2><br>
<p>Hero Power:<%= @hero.power %></p>
</div><br>

<h1>Heros</h1>
<% Hero.all.each do |hero| %>
  <div class="course">
    <p>Name: <%= hero.name %></p><br>
    <p>Topic: <%= hero.power %></p><br>
    <p>Topic: <%= hero.bio %></p><br>
  </div><br>
<% end %>
