<h1>Team</h1>

<div class="student">
  <h3>Name: <%= @team.name %></h3><br>
  <h4>Grade: <%= @team.motto %></h4>
</div><br>

<h1>Heros</h1>
<% Hero.all.each do |hero| %>
  <div class="course">
    <p>Name: <%= hero.name %></p><br>
    <p>Topic: <%= hero.power %></p><br>
    <p>Topic: <%= hero.pbio %></p><br>
  </div><br>
<% end %>
